/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #ffffff;
  /* background:url("/images/noisy.png"); */
  background-repeat:repeat;
  background-attachment: fixed;
  font-family: "Open Sans", 'lato', 'lucida grande', 'Carme', sans-serif;
  /* font-family: Georgia, Cambria, 'Times New Roman', Times, serif; */
  /* font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif; */
  /* font-family: "EB Garamond", serif; */
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }

p { 
  margin: 1em 0; 
  font-size: 18px;
  line-height: 1.5em;
}

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

.posts {
  list-style-type: none;
  margin-bottom: 2em;
}


/* .post-preview  { */
/*   font-size: 100%; */
/* } */

/* .post  p { */
/*   font-size: 110%; */
/* } */

/* .posts li { */
/*   line-height: 1em; */
/* } */

/* .posts span { */
/*   color: #aaa; */
/*   font-size: 90%; */
/* } */

/* preview split styles */

.post-title {
  font-family: "Open Sans", 'lato', 'lucida grande', 'Carme', sans-serif;
  /* font-size: 2em; */
  text-decoration:none;
}

.post-title a:-webkit-any-link {
  color: black;
  text-decoration: none;
  cursor: auto;
}

.post-date {
  font-color: ;
  font-size: 70%;
  color: #aaa;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.sidebar {
  font-size: 85%;
  width: 15em;
  /* position: fixed; */
  float: left;
  margin: 1em 1em 1em 1em;
  text-align: left;
}

.sidebar p {
  text-align: center;
  font-size:90%;
  font-color

}

.sidebar .categories {
  text-align:center;
  font-size:90%;
}

.sidebar ul {
  margin-left:3px;
}

.sidebar li {
  list-style-type: none;
  margin-left:0px;
}

.sidebar li a {
  text-decoration: none;
  color: black;
  list-style-type: none;
}

/* these are for the folding archive menu */

.archive_day {
  color:gray;
  font-size: 40%;
}
.archive_year {
  text-align:left;
  font-size: 150%;
}

ul li ul{
    display: none;
}

a {
  color: blue;
  cursor:pointer;
}

/* for the blur function */
.blur {
  -webkit-filter: blur(4px);
  transition: 1.8s;
}

.blur:hover {
  -webkit-filter: blur(0px)
}

.blur.activepage {
  -webkit-filter: blur(0px)
}

.sidebar img {
  width: 12em;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
}

/* .sitebackground { */
/*   position: fixed; */
/*   height:100%; */
/*   background: rgba(255, 255, 225, .8); */
/*   width:45em; */
/*   margin: 0em 0em 0em 13em; */ 
/*   z-index: -1; */
/* } */

.site {
  text-align: justify;
  width: 40em;
  margin: 1em auto 2em 1em;
  line-height: 1.5em;
  float: left;
}

.header a {
  font-weight: bold;
  text-decoration: none;
}

.title {
  display: inline-block;
  margin-bottom: 2em;
}

.title a {
  color: #a00;
}

.title a:hover {
  color: #000;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
  border: 1px solid #ddd;
  background-color: #eef;
  background-color: #002b36;
  padding: 0 .3em;
}

ul, .post ol {
  margin-left: 1.35em;
}

code {
  border: 5px solid #002b36;
  color:#93a1a1;
  background-color: #002b36;
}

pre {
  border: 3px solid #002b36;
  color:#93a1a1;
}

pre code {
  border: none;
}

/* terminal */
pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

pre.terminal code {
  background-color: #333;
}

/* line numbering; */
/* pre code { */
/*     counter-reset: line-numbering; */
/* } */

/* pre code .line::before { */
/*     content: counter(line-numbering); */
/*     counter-increment: line-numbering; */
/*     padding-right: 1.5em; /1* space after numbers *1/ */
/*     width: 3em; */
/*     text-align: right; */
/*     opacity: 0.3; */
/* } */

#youtube-frame {
  width:640px;
  height:360px;
  overflow:scroll;
}

#photoset {
  margin-top: 4em;
  text-align: justify;
  width: 60em;
  height: 40em;
  font-size: 80%;
  float: left;
  overflow: visible;
}
