---
layout: default
title: jaf
---

<div id="home">

<!-- using the split filter -->
{% for post in site.posts limit:1 %}
   <div class="post-preview">
   <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <hr>
   <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
   {{ post.content | split:'<!--break-->' | first }}
   {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">read more</a>
   {% endif %}
   </div>
   <BR>&nbsp;<BR>
   <center>&bull;&bull;&bull;</center>
   <BR>&nbsp;<BR>
   <BR>&nbsp;<BR>
{% endfor %}

