---
layout: default
title: jaf
---

<div id="home">

<!-- using the split filter -->
{% for post in site.posts limit:50 %}
   <div class="post-preview">
   <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p>
   {{ post.content | split:'<!--break-->' | first }}
   {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}">read more</a>
   {% endif %}
   </div>
   <p>need to add some empty lines here?</p>
   <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
   <p></p>
{% endfor %}

<!-- <ul > -->
<!--     {% for post in site.posts limit 2 %} -->
<!--     <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li> -->
<!--         {{ post.content | strip_html | truncatewords:75}}<br> -->
<!--             <a href="{{ post.url }}">Read more...</a><br><br> -->
<!--     {% endfor %} -->
<!-- </ul> -->

<!--   <ul class="posts"> -->
<!--     {% for post in site.posts %} -->
<!--       <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li> -->
<!--     {% endfor %} -->
<!--   </ul> -->
<!-- </div> -->
