---
layout: default
title: blog
---

<div id="home">

<!-- using the split filter -->
{% for post in site.posts limit: 5 %}
   <div class="post-preview">
       <BR>&nbsp;<BR>
   <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
   <hr>
   <span class="post-date">{{ post.date | date: "%B %d, %Y" }}</span>
   {{ post.content | split:'<!--break-->' | first }}
   {% if post.content contains '<!--break-->' %}
      <a href="{{ post.url }}"  style="font-size: 70%; text-align: center;">more...</a>
   {% endif %}
   </div>
   <BR>&nbsp;<BR>
   <center>&bull;&bull;&bull;</center>
   <BR>&nbsp;<BR>
{% endfor %}

<!-- <script type="text/javascript"> -->
<!--   $('.categories').html('All Posts<hr>') -->
<!-- </script> -->

